# Imports

In [351]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,accuracy_score
from sklearn.preprocessing import MinMaxScaler

# Data Reading and loading the models

In [352]:
test = pd.read_csv('InputTest.csv')
test =  test.set_index('Index')
test_X = test.drop("House_id",axis=1)

In [353]:
model_WM= xgb.Booster()
model_DW= xgb.Booster()
model_TD= xgb.Booster()
model_MW= xgb.Booster()
model_K= xgb.Booster()
model_WM.load_model("WM_model")
model_DW.load_model("DW_model")
model_TD.load_model("TD_model")
model_MW.load_model("MW_model")
model_K.load_model("K_model")

In [354]:
T = xgb.DMatrix(test_X)

# Prediction and Results

In [355]:
WM_results =  model_WM.predict(T)
DW_results = model_DW.predict(T)
TD_results = model_TD.predict(T)
MW_results = model_MW.predict(T)
K_results = model_K.predict(T)

In [358]:
WM_results = WM_results.flatten()
DW_results = DW_results.flatten()
TD_results = TD_results.flatten()
MW_results = MW_results.flatten()
K_results = K_results.flatten()

In [360]:
WM_results = np.round(WM_results,4)
DW_results = np.round(DW_results,4)
TD_results = np.round(TD_results,4)
MW_results = np.round(MW_results,4)
K_results = np.round(K_results,3)

In [363]:
results = {"Index":np.arange(len(WM_results)),"Washing Machine":WM_results, "Dishwasher": DW_results, "Tumble Dryer":TD_results, "Microwave":MW_results, "Kettle":K_results}
results = pd.DataFrame(data=results)

In [364]:
results

           Index  Washing Machine  Dishwasher  Tumble Dryer  Microwave  Kettle
0              0           0.0005      0.0005        0.0005     0.0005     0.0
1              1           0.0006      0.0005        0.0005     0.0005     0.0
2              2           0.0005      0.0005        0.0005     0.0005     0.0
3              3           0.0006      0.0005        0.0005     0.0005     0.0
4              4           0.0005      0.0005        0.0005     0.0005     0.0
...          ...              ...         ...           ...        ...     ...
5374075  5374075           0.0005      0.0005        0.0005     0.0005     0.0
5374076  5374076           0.0005      0.0005        0.0005     0.0005     0.0
5374077  5374077           0.0005      0.0005        0.0005     0.0005     0.0
5374078  5374078           0.0005      0.0005        0.0005     0.0005     0.0
5374079  5374079           0.0005      0.0005        0.0005     0.0005     0.0

[5374080 rows x 6 columns]

In [365]:
results.to_csv("res.csv",index=False)